.form-signin-modals{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  justify-content: center;
  border-radius: 20px;
  color: darkslategray;
  z-index: 10;
}

.form-inputs-modals{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-signin-modals > input{
  padding: 0px 0px;
  margin: 0px 0px;
}

label{
  width: 300px;
}

.form-holder-modals{
  margin: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-size: cover; */
}

.form-holder-modals-title{
  font-size:2em;
}

#button-modals{
  margin:3%;
  display: flex;
  justify-content: space-around;
}

.form-button-modals{
  background-color: darkslategray;
  color: white;
  min-width: 80px;
  border-radius: 5px;
  padding: 5% 10% 5% 10%;
  margin: 0 3% 0 3%;
}


button:hover
{
  cursor: pointer;
}

.form-inputs-modals
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs-modals > input
{
  padding: 5px 0px;
  margin: 12px 0px;

}
.form-signin-modals{
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.LoginButton{
  max-height: 30px;
  max-height: 30px;
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.form-errors{
  height: 20px;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items: center;
}
