* {
    margin: 0px;
}


.ExplorePage{
    display:grid;
    /* grid-template-rows: repeat(3,1fr); */
    grid-template-areas:
    "options options options"
    "listing listing map";
}

.explore_page_header{
    margin-left:2.5%;
    font-size: 4.5em;

}
/* .explore-page--header_container_photo{

    background-image: url('https://a0.muscache.com/im/pictures/415fe2dc-98a1-4565-a702-70b03ae757d7.jpg?im_w=2560');
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 1.5%;
    width: 100vw;
    background-position: -500px -200px;

} */

.explore_page_options{
    display: flex;
    justify-content: space-around;
}

.ExplorePage_listings_container{
    grid-area: listing;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ExplorePage_options_container{
    grid-area:options;
}
#GoogleMaps{
    grid-area:map;
    top: 40px;
    left: 40px;

}

.searchbar{
    height:45px;
    border:none;
    margin-left: 4%;
    width:450px;
    font-size:16px;
    outline: none;

}

.SearchBar{
margin:0 auto;
width:555px;
border-radius:30px;
border:5px solid #dcdcdc;
}
.SearchBar:hover{
box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.SearchBar:focus-within{
box-shadow: 1px 1px 8px 1px #dcdcdc;
outline:none;
}

.PriceBar{
    display: flex;
    align-items: center;


}

.PriceBar_container{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.PriceBar button{
    margin-left: 4%;
    width:30px;
    height:30px;
}
