.listings-main{
    display:grid;
    grid-template-columns: 20% 35% 55%;
    height: 7%;

    border-color: rgb(206, 209, 209);
    grid-gap: 30px;
    background: rgba(0, 0, 0, 0);
    justify-content: space-between;
    align-content: start;
    margin: 2%;
}

.listing-photo{
    grid-column: 1/2;
    margin:0px 0px 0px 2%;
}

.listing-photo {

    height:380px;
    width:400px;
    border-radius:30px;
    border: solid 5px;
    border-color:black;
    overflow:hidden;
}

.keen-slider__image{
    height:400px;
    width:400px;
}

.keen-slider__slide{
    overflow:hidden;
}

.listing-description{
    grid-column: 2/3;
    background-color: white;
    height:380px;
    width:700px;
    margin-right:50px;
    display:grid;
    grid-template-rows: 40% 20% 10% 20%;
    background: rgba(255, 255, 255, 0.7);
    grid-gap: 15px;
    padding:15px;
    border: solid 1px;
    border-radius:25px;
    font-weight:bold;
}


.listing-title_component{
    grid-row: 1/2;

}

.listing-description_component{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}
.listing-description_link{
    text-decoration: none;
    color: black
}

.listing-price_parts{
    grid-row: 4/5;
    display:flex;
    justify-content: flex-end;
}

.listing-price_parts > p{
    font-size: 2em;
    margin: 0px 0px 0px 0px;
}

.listpart{
    margin:7px 0px 0px 0px;
}


.listing-ratings_parts{
    display: flex;
    grid-row: 3/4;
    justify-content: space-around;
}

.explore-page--header_container_photo{
    background-image: url('https://a0.muscache.com/im/pictures/415fe2dc-98a1-4565-a702-70b03ae757d7.jpg?im_w=2560');
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    background-position: -500px -200px;
    transform: translateY(0px);
}
