.listings-main{
    display:grid;
    grid-template-columns: 30% 30% 40%;
    height: 490px;
    border-bottom: 1px solid;
    border-color: rgb(206, 209, 209);


}
.listing-description{
    grid-column: 2/3;

}

.listing-photo{
    grid-column: 1/2;
    margin:20px 0px 20px 0px;
    height:80px;
    width:80px;

}

.listing-photo .photo{
    padding:0px 0px 0px 10px;
    max-height:450px;
    max-width:450px;
    border-radius:30px;
}

.listing-description{
    display:grid;
    grid-template-rows: 30% 50% 20%;
    grid-template-columns: 1fr;
}

.listing-title_component{
    grid-row: 1/2;

}

.listing-description_component{
    grid-row: 2/3;

}
