.explore-page{
    background-image: url('https://a0.muscache.com/im/pictures/415fe2dc-98a1-4565-a702-70b03ae757d7.jpg?im_w=2560');
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    background-position: -500px -200px;
}
