* {
    margin: 0px;
}
.listings-main{
    display:grid;
    grid-template-columns: 32% 40% 40%;
    height: 7%;
    border-color: rgb(206, 209, 209);
    grid-gap: 30px;
    background: rgba(0, 0, 0, 0);
    justify-content: space-between;
    align-content: start;
    margin: 2%;
}

.listing-photo {
    height:300px;
    width:400px;
    grid-column: 1/2;
    border-radius:30px;
    border: solid 5px;
    border-color:black;
    overflow:hidden;
}

.listing-description_link{
    text-decoration: none;
    color: black
}

.keen-slider__image{
    height:300px;
    width:400px;
}

.keen-slider__slide{
    overflow:hidden;
}

.listing-description{
    grid-column: 2/3;
    background-color: white;
    height:300px;
    width:700px;
    margin-right:50px;
    display:grid;
    grid-template-rows: 40% 20% 10% 20%;
    background: rgba(255, 255, 255, 0.7);
    grid-gap: 15px;
    padding:15px;
    border: solid 1px;
    border-radius:25px;
    font-weight:bold;
}


.listing-title_component{
    grid-row: 1/2;

}

.listing-description_component{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}


.listing-price_parts{
    grid-row: 4/5;
    display:flex;
    justify-content: flex-end;
}

.listing-price_parts > p{
    font-size: 2em;
    margin: 0px 0px 0px 0px;
}

.listpart{
    margin:7px 0px 0px 0px;
}


.listing-ratings_parts{
    display: flex;
    grid-row: 3/4;
    justify-content: space-around;
}

.explore-page{
    display:grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 1fr 2fr;
}

.explore-page--header{
    margin-left:2.5%;
    font-size: 4.5em;

}
/* .explore-page--header_container_photo{

    background-image: url('https://a0.muscache.com/im/pictures/415fe2dc-98a1-4565-a702-70b03ae757d7.jpg?im_w=2560');
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 1.5%;
    width: 100vw;
    background-position: -500px -200px;

} */

.explore-page--options{
    display: flex;
    justify-content: space-around;
}
.explore-page--listings_container{
    grid-row: 2/3;
    grid-column: 1/2;
}

#GoogleMaps{
    grid-row: 2/3;
    grid-column: 2/3;
    position: 'fixed';

}

.searchbar{
    height:45px;
    border:none;
    margin-left: 4%;
    width:450px;
    font-size:16px;
    outline: none;

}

.SearchBar{
margin:0 auto;
width:555px;
border-radius:30px;
border:5px solid #dcdcdc;
}
.SearchBar:hover{
box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.SearchBar:focus-within{
box-shadow: 1px 1px 8px 1px #dcdcdc;
outline:none;
}

.PriceBar{
    display: flex;
    align-items: center;


}

.PriceBar_container{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.PriceBar button{
    margin-left: 4%;
    width:30px;
    height:30px;
}
