* {
    margin: 0px;
}


.ExplorePage{
    display:flex;
    flex-direction: column;
}

.explore_page_header{
    margin-left:2.5%;
    font-size: 4.5em;
}

.ExplorePage_container{
    display:grid;
}
/* .explore-page--header_container_photo{

    background-image: url('https://a0.muscache.com/im/pictures/415fe2dc-98a1-4565-a702-70b03ae757d7.jpg?im_w=2560');
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 1.5%;
    width: 100vw;
    background-position: -500px -200px;

} */

.explore_page_options{
    display: flex;
    justify-content: space-around;
}

.ExplorePage_listings_container{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;

}

.ExplorePage_options_container{
    grid-area:options;
}

#GoogleMaps{
    grid-column: 2/3;

}

.searchbar{
    height:45px;
    border:none;
    margin-left: 4%;
    width:450px;
    font-size:16px;
    outline: none;
}

.SearchBar{
    margin:0 ;
    width:500px;
    border-radius:30px;
    border:3px solid #dcdcdc;
    display: flex;
}
/* .SearchBar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.SearchBar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
} */

.searchbar_button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}


.PriceBar{
    display: flex;
    align-items: center;
}

.PriceBar_container{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.PriceBar button{
    margin-left: 4%;
    width:30px;
    height:30px;
}
