.footer-container {
    height: 12em;
    background-color: rgb(219, 219, 219);
    border-top: 1px solid rgb(211, 211, 211);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns:repeat(4,25%);
    grid-template-rows: 75% 25% ;
    width:100vw;
  }

  .footer-nav-about {
    grid-row: 1/2;
    grid-column:1/2;
  }
  .footer-nav-community {
    grid-row: 1/2;
    grid-column:2/3;
  }

  .footer-nav-host{
    grid-row: 1/2;
    grid-column:3/4;
  }

  .footer-nav-support {
    grid-row: 1/2;
    grid-column:4/5;
  }
  .footer-container .footer-description {
    font-size: 16px;
    text-align: center;
  }

  .footer-description p {
    margin: 6px;
    padding: 2px;
  }

  .footer-container h2 {
    font-size: 20px;
    text-align: center;
    grid-row: 2/3;
    grid-column:1/3;
  }

  .footer-icons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    grid-row: 2/3;
    grid-column:3/5;
  }
  .footer-icons img {
    height: 3em;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
  }
