.reviewform{
    display:flex;
    flex-direction:column;
    padding-top: 10px;
}

.reviewform textarea {
    height: 100%;
    width: 70%;
    font-size: 2em;
}
.reviewform form {
    display: flex;
}

#reviewform-inputs{
    display: flex;
    flex-direction:column;
}

#reviewform-inputs input{
   font-size: 1.2em;
   width: 150%;
}

#reviewform-inputs button{
    font-size: 1.2em;
    width: 150%;
 }
