.reviewform{
    padding: 10px;
    display:flex;
    flex-direction:column;

}


.reviewform textarea {
    height: 225px;
    width: 70%;
    font-size: 2em;
}
.reviewform form {
    display: flex;
}

.reviewform--buttons{
    display: flex;
    flex-direction:row;
}
#reviewform-inputs{
    display: flex;
    flex-direction:column;
}

#reviewform-inputs input{
   font-size: 1.2em;
   width: 150%;
}

#reviewform-inputs button{
    font-size: 1.2em;
    width: 150%;
 }

.edit-form-holder{
    padding:10px;
    margin:5%;
}

.edit-form-holder_textarea{
    width: 95%;
    height: 50px;
    margin: 10px;
}

.edit-form-holder_form input{
    width: 95%;
}

.edit-form-holder_button{
    margin: 10px;
    display:flex;
    justify-content: space-around;
}
