.Reservation_Form-Holder{
    height: 350px;
    max-width: 450px;
    border:solid;
    border-color: black;
    font-size:2.1em;
    padding: 10px 10px 10px 10px;
}

.Reservation_Form{
    display:flex;
    flex-direction:column;

}
#Res-error{
    color:rgb(101, 236, 101);
    font-size:1em;
    align-items:center;
}

.Confirm-Box{
    display:flex;
    flex-direction:row;

}
