.SingleList-Photos{
    padding: 0px 100px 0px 100px;
    display:grid;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-rows: 50% 50%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.SingleList-description{
    padding: 0px 100px 0px 100px;
}

.SingleList-title{
    padding: 0px 100px 0px 100px;
}

.SingleList-reviews{
    padding: 0px 100px 0px 100px;
}
#photo-1{
    min-width: 620px;
    min-height: 620px;
    grid-column: 1/3;
    grid-row: 1/3;
}


#photo-2{
    max-width: 400px;
    max-height: 400px;
    grid-column: 3/4;
    grid-row: 1/2;

}

#photo-3{
    max-width: 400px;
    max-height: 400px;
    grid-column: 4/5;
    grid-row: 1/2;
}

#photo-4{
    max-width: 400px;
    max-height: 400px;
    grid-column: 3/4;
    grid-row: 2/3;
}

#photo-5{
    max-width: 400px;
    max-height: 400px;
    grid-column: 4/5;
    grid-row: 2/3;
}
