.form-signin
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color:  rgba(255, 255, 255, 0.8);
  height: 440px;
  width: 350px;
  justify-content: center;
  border-radius: 20px;
  color: darkslategray;
  z-index: 10;
}

.form-inputs
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs > input
{
  padding: 5px 0px;
  margin: 12px 0px;

}

.form-holder
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('https://images.unsplash.com/photo-1465311354905-789ff5f7a457?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80');
  background-position: 0px -900px;
  margin: 0px;
  background-size: cover;
}

.form-button
{
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

button:hover
{
  cursor: pointer;
}

.form-errors
{
  color: orangered;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right:40px;
}
