
.SingleList-Photos{
    padding: 0px 100px 0px 100px;
    display:grid;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-rows: 50% 50%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: 0% 5% 0% 5%;
}

.SingleList-description_holder{
    display:grid;
    grid-template-columns:33% 33% 33%;
    padding: 20px 0px 0px 0px;
    margin: 0% 9% 1% 9%;
}
.SingleList-description{
    grid-column: 1/2;
    font-size: 1.2em;
}


.SingleList-title{
    margin-left: 10%;
    font-size: 2em;
    padding: 0px 1% 2% ;
}
.SingleList-reviews_review_form{
    margin: 0% 9% 0% 9%;
}

.SingleList-reviews{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0% 5% 0% 5%;
    padding: 0px 80px 0px 80px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: darkgray;
}

form > textarea{
 height: 100%;
}
#photo-0{
    max-width: 100%;
    min-height: 100%;
    grid-column: 1/3;
    grid-row: 1/3;
}


#photo-1{
    max-width: 100%;
    max-height: 100%;
    grid-column: 3/4;
    grid-row: 1/2;

}

#photo-2{
    max-width: 100%;
    max-height: 100%;
    grid-column: 4/5;
    grid-row: 1/2;
}

#photo-3{
    max-width: 100%;
    max-height: 100%;
    grid-column: 3/4;
    grid-row: 2/3;
}

#photo-4{
    max-width: 100%;
    max-height: 100%;
    grid-column: 4/5;
    grid-row: 2/3;
}

.SingleList-reviews_stats{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 15% 15% 15% ;

    height:250px;
}

.stats{
    margin: 2px 0px 2px 0px;
    font-size:1.5em
}
.SingleList-reviews_stats_rating{
    grid-column: 1/3;
    font-size: 2.5em;
    padding: 0px 0px 80px 0px;
}

.SingleList-reviews_stats_cleanliness{
    grid-row: 2/3;
    height: 15px;
}

.SingleList-reviews_stats_communication{
    grid-row: 3/4;
    height: 15px;
}

.SingleList-reviews_stats_checkin{
    grid-row: 4/5;

}

.SingleList-reviews_stats_accuracy{
    grid-column: 2/3;
    grid-row: 2/3;
}
.SingleList-reviews_stats_location{
    grid-column: 2/3;
    grid-row: 3/4;
}
.SingleList-reviews_stats_value{
    grid-column: 2/3;
    grid-row: 4/5;
}
.SingleList-reservation{

    grid-column: 2/3;
    z-index:5;
}

.SingleList-ReviewForm{
    grid-column: 3/5;
    grid-row: 1/5;
}

.SingleList-listing-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0% 1%;
}
.SingleList-listing-price span{
   font-size:1.05em;
   margin-right:1%;
}


.SingleList-listing-guests{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0% 1%;
}

.SingleList-listing-guests span{
    font-size:1.05em;
    margin-right:1%;
 }

.SingleList-listing-bedrooms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0% 1%;
}

.SingleList-listing-bedrooms span{
    font-size:1.05em;
    margin-right:1%;
 }

.SingleList-listing-baths{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0% 1%;
}

.SingleList-listing-baths span{
    font-size:1.05em;
    margin-right:1%;
 }

 .GoogleMap2{
    display:flex;
    flex-wrap: wrap;
    grid-column:3/4;
    overflow: none;
    height: 38vh;
 }

 @media only screen and (max-width: 700px){
    .SingleList-title{
        display: flex;
        flex-direction: column;
    }

    .SingleList-description_holder{
        display: flex;
        flex-direction: column;
    }

    .SingleList-reviews{
        display: flex;
        flex-direction: column;
    }

    .SingleList{
        display: flex;
        flex-direction: column;
    }

    .GoogleMap2{
        display:flex;
        flex-wrap: wrap;
        grid-column:3/4;
        overflow: none;
        margin-top: 3%;
        height: 52vh;
        width: 100vh;
     }
     .SingleList-reviews_stats{
         font-size: .7em;
     }

    .SingleList-Photos{
        display:flex;
        flex-direction: column;
    }
    #photo-0{
       width: 100%;
       height: 100%;
       margin: 0%;
       padding: 0%;
    }
    #photo-1{
        width: 100%;
        height: 100%;
        margin: 0%;
    }
    #photo-2{
        width: 100%;
        height: 100%;
    }
    #photo-3{
        width: 100%;
        height: 100%;
    }
    #photo-4{
        width: 100%;
        height: 100%;
    }

 }
