*{
    box-sizing: border-box;
    margin: 0px;

}

header{
    display: grid;
    padding: 10px 10px 0px 10px;
    grid-template-columns: 35% 5% 20% 5% 35%;
    grid-template-rows: 1fr;
    width: 99.09vw;
    position: fixed;
    background-color: white;
    z-index: 1;
    box-shadow: 0 6px 0px 0px rgb(253, 253, 253), 0 10px 0px 0px rgb(250, 250, 250);
    align-items: center;
}

.Nav{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.headerRight{
    display:flex;
    grid-column: 5/6;
    justify-content:flex-end;
}

.headerRight_component{
    display:flex;
    margin:0% 3% 0% 3%;
    padding: 0% 2% 0% 2%;
    align-items: center;
    font-size:1.2em;
    border-radius: 20px;
}

.headerRight_component_host{
    display:flex;
    padding: 0% 2% 0% 2%;
    align-items: center;
    justify-content: center;
    font-size:1.2em;
    border-radius: 20px;

}
.headerRight_component_host:hover{
    background-color:rgba(131, 127, 127, 0.8);
  }

.headerRight_component_nav{
    display:flex;
    align-items: center;

}
.headerRight_component:hover{
  background-color:rgba(131, 127, 127, 0.8);
}

.nav-dropdown{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.nav-dropdown_menu{
    top:90px;
    right: 5px;
    position: fixed;
}
.nav-signup-button{
    text-decoration: none;
}

.nav-logo{
    grid-column: 1/2;
    justify-content:flex-start;
}
.headerMiddle{
    grid-column: 3/4;
}
.nav-tab{
    grid-column: 2/4;
}

@media only screen and (max-width: 800px) {
    .nav-tab{
        display:none;
    }
  }

.Profile-container{
    display:flex;
    justify-content: flex-end;
}

.profile-dropdown{
    color:  Grey;
    display:flex;
    flex-direction: column;
    width: 200px;
}

.profile-dropdown li{
    width: 200px;
}

.signUpButton{
    min-width: 90px;
    min-height: 50px;
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
}

.LoginButton{
    min-width: 90px;
    min-height: 50px;
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
}

.header__input {
    display: flex;
    align-items:flex-end;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

/* .header__input{
    display: flex;
    align-items: center;
    border-radius: 999px;
} */

.header__input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
    min-width:85%;
    min-height: 100%;
    margin: 1% 2% 2% 2%;
}
