*{
    box-sizing: border-box;
    margin: 0px;

}

.nav-list{
    display: grid;
    padding: 10px 10px 10px 10px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr;
    width: 98vw;


}

.Nav{
    display:flex;
    width: 200px;
}
.nav-dropdown{
    display:flex;
    grid-column: 5/6;
    justify-content:flex-end;
}

.nav-signup-button{
    text-decoration: none;
}

.nav-logo{
    grid-column: 1/2;
    justify-content:flex-start;
}

.Profile-container{
    display:flex;
    justify-content: flex-end;
}

.profile-dropdown{
    color:  Grey;
    display:flex;
    flex-direction: column;
    width: 200px;
}

.profile-dropdown li{
    width: 200px;
}

.signUpButton{
    min-width: 90px;
    min-height: 50px;
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
}

.LoginButton{
    min-width: 90px;
    min-height: 50px;
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
}
