.profile-button{
    width: 100px;
    height: 55px;
    border-radius: 25px;
    background-color: darkslategray;
}

.icons{

    display:flex;
    justify-content:space-around;
}

.fas{
  height:15px;
}
