.form-signin-modals{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color:  rgba(255, 255, 255, 0.8);
  height: 200px;
  width: 100px;
  justify-content: center;
  border-radius: 20px;
  color: darkslategray;
  z-index: 10;
}

.form-inputs-modals{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-signin-modals > input{
  padding: 0px 0px;
  margin: 0px 0px;
}

label{
  width: 300px;
}

.form-holder-modals{
  margin: 0px 0px;
  /* display: flex;
  justify-content: center;
  align-items: center;  */
  /* background-size: cover; */
}


#button-modals{
  display: flex;
  justify-content: center;
}

.form-button-modals{
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 0 3% 0 3%;
}

button:hover
{
  cursor: pointer;
}

.form-inputs-modals
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs-modals > input
{
  padding: 5px 0px;
  margin: 12px 0px;

}
.form-signin-modals{
  width: 100%;
  color: orangered;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.LoginButton{
  max-height: 30px;
  max-height: 30px;
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.form-errors{
  height: 20px;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items: center;
}
